doctype html
html(lang="zh-Hant")
  head
    include ./commons/Meta.pug
    title Webpack 4 Bone Demo
  body
    block header
      include ./commons/AppHeader.pug
    block content
    block footer
      include ./commons/AppFooter.pug
      //- include ./commons/back-to-top.pug